.navbar-nav{
    margin-left: auto;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    background: white;
    z-index: 999;
}
.navbar-brand{
    color:#03a358 !important;
    font-size: 1.8rem;
}